@import "tailwindcss";

:root {
  --background: #f5f5f7;
  --foreground: #171717;
}

@theme {
  /* --breakpoint-*: initial; */
  --breakpoint-tab: 35.9375rem;
  --breakpoint-lap: 62rem;
  /* --breakpoint-desktop: 80rem; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-smoky: #605c7a;
  /* --color-royal-200: #5641f3; */
  /* --color-royal: #5641f3; */

  /* --color-athens: #f5f5f7; */

  --color-royal-50: #f5f5f7; /* athens use  */
  --color-royal-100: #ebe8fe; /* Lavender Whisper */
  --color-royal-150: #ddd9fd; /* Hazy Lilac  use */
  --color-royal-200: #ccc6fb; /* Pale Violet */
  --color-royal-250: #bbb3fa; /* Delicate Iris use icon */
  --color-royal-300: #aaa0f9; /* Orchid Glow icon */
  --color-royal-350: #9a8df8; /* Lavender Luxe icon */

  --color-royal: #5641f3;
  --color-royal-600: #7867f5; /* Regal Amethyst icon */
  --color-royal-700: #551a8b;
  --color-royal-800: #9353ff;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */

  :root {
    --background: #f5f5f7;
    --foreground: #171717;
  }
}
.wrapper {
  @apply max-md:!max-w-[640px] max-lap:max-w-[820px] px-4 tab:px-5  lap:max-w-[1360px] mx-auto;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

.clip-reveal {
  /* opacity: 0; */
}

.clip-reveal::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  z-index: 100;
  transition: clip-path 0.5s ease-in-out;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.clip-reveal-close::before {
  clip-path: polygon(0 0, 100% 0, 100% 0%, 0% 0%);

  /* clip-path: polygon(0 60px, 100% 60px, 100% 0, 0 0); */
  /* z-index: -1; */

  /* clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); */
}
/*
.clip-reveal-open::before {
  /* clip-path: polygon(0 0, 100% 0, 100% 60px, 0% 60px); */
/* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
/* } */

.clip-reveal-close {
  /* animation: hide 300ms ease-out both; */
  /* clip-path: polygon(0 0, 100% 0, 100% 0%, 0% 0%); */
  /* clip-path: polygon(0 60px, 100% 60px, 100% 0, 0 0); */
}

@keyframes hide {
  0% {
    display: block;
  }
  100% {
    opacity: 1;

    /* clip-path: polygon(0 60px, 100% 60px, 100% 0, 0 0); */
    /* z-index: -1; */
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
    /* z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
    /* z-index: -1; */
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
  }
}
