@import "tailwindcss";

:root {
  --background: #f5f5f7;
  --foreground: #171717;
}

@theme {
  --breakpoint-tab: 35.9375rem;
  --breakpoint-lap: 62rem;

  --animate-slideDown: slideDown 500ms ease-in-out;
  --animate-slideUp: slideUp 500ms ease-in-out;

  @keyframes slideDown {
    from {
      height: 0px;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes slideUp {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0px;
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-smoky: #605c7a;
  /* --color-royal-200: #5641f3; */
  /* --color-royal: #5641f3; */

  /* --color-athens: #f5f5f7; */

  --color-royal-50: #f5f5f7; /* athens use  */
  --color-royal-100: #ebe8fe; /* Lavender Whisper */
  --color-royal-150: #ddd9fd; /* Hazy Lilac  use */
  --color-royal-200: #c9c2fb; /* Pale Violet */
  --color-royal-250: #bbb3fa; /* Delicate Iris use icon */
  --color-royal-300: #aaa0f9; /* Orchid Glow icon */
  --color-royal-350: #9a8df8; /* Lavender Luxe icon */
  --color-royal: #5641f3;
  --color-royal-500: #4f3ef2; /* Purple Heart */
  --color-royal-600: #7867f5; /* Regal Amethyst icon */
  --color-royal-700: #551a8b;
  --color-royal-800: #9353ff;

  --radius-18: 1.125rem;

  --ease-initial: ease;
}

@layer components {
  h1,
  .section-title {
    @apply text-[46px] lap:text-8xl text-balance font-semibold -tracking-[3px] lap:-tracking-[5px] leading-[1.1];
  }

  .section-title-sm {
    @apply text-[46px] lap:text-[64px] text-balance font-semibold -tracking-[2px] lap:-tracking-[3.2px] leading-[1.1];
  }

  .section {
    @apply py-16 md:py-18 lap:py-32 overflow-clip;
  }

  .wrapper {
    @apply max-md:!max-w-[640px] max-lap:max-w-[820px] px-4 tab:px-5  lap:max-w-[1360px] mx-auto;
  }
}

@layer utilities {

  .anim-duration-10 {
    animation-duration: 10s;
  }

  .text-fluid-lg {
    @apply max-lap:!text-[46px] font-medium -tracking-[3px] lap:-tracking-[5px] leading-[1.1];
    font-size: clamp(80px, 8vw, 96px);
  }
}

.app-tile:has(.app-tile-item:hover) .app-tile-item:not(:hover) {
  @apply blur-[3px];
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */

  :root {
    --background: #f5f5f7;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}


.clip-reveal {
  /* opacity: 0; */
}

.clip-reveal::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  z-index: 100;
  transition: clip-path 0.5s ease-in-out;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.clip-reveal-close::before {
  clip-path: polygon(0 0, 100% 0, 100% 0%, 0% 0%);

  /* clip-path: polygon(0 60px, 100% 60px, 100% 0, 0 0); */
  /* z-index: -1; */

  /* clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); */
}
/*
.clip-reveal-open::before {
  /* clip-path: polygon(0 0, 100% 0, 100% 60px, 0% 60px); */
/* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
/* } */

.clip-reveal-close {
  /* animation: hide 300ms ease-out both; */
  /* clip-path: polygon(0 0, 100% 0, 100% 0%, 0% 0%); */
  /* clip-path: polygon(0 60px, 100% 60px, 100% 0, 0 0); */
}

@keyframes hide {
  0% {
    display: block;
  }
  100% {
    opacity: 1;

    /* clip-path: polygon(0 60px, 100% 60px, 100% 0, 0 0); */
    /* z-index: -1; */
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
    /* z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
    /* z-index: -1; */
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
  }
}

.section-grad-line {
  background-image: linear-gradient(
    90deg,
    rgba(86, 65, 243, 0) 0%,
    var(--color-royal) 62%,
    var(--color-royal) 100%
  );
}

.perf-parent:hover .perf-child {
  opacity: 1;
  pointer-events: auto;
}

/* Default state of the child (hidden or off-screen) */
.perf-child {
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.launch-after {
  @apply after:absolute after:bg-gradient-to-r after:from-transparent after:to-black  after:h-full lap:after:h-[120%] after:top-1/2 after:transform after:-translate-y-1/2  after:w-[15%] md:after:w-[20%] after:right-0 after:z-[5];
}

.launch-before {
  @apply before:absolute before:bg-gradient-to-r before:from-black before:to-transparent  before:h-full lap:before:h-[120%] before:top-1/2 before:transform before:-translate-y-1/2  before:w-[15%] md:before:w-[20%] before:-left-1 before:z-[5];
}

.launch-marquee {
  animation: marquee var(--duration) running var(--direction) linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}
